@font-face {
    font-family: AmazDoom;
    src: url(./fonts/AmazDooMLeft.ttf);
}
@font-face {
    font-family: AmazDoomRight;
    src: url(./fonts/AmazDooMRight.ttf);
}
@font-face {
    font-family: Doom;
    src: url(./fonts/DooM.ttf);
}

body {
  position: relative;
  height: 100vh;
  margin: 0;
  color: #DDD;
  background-color: #222;
  background-image: url(./img/bg.png);
  font-family: Doom, Arial, Helvetica, Helvetica Neue;
  overflow: hidden;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: normal;
  color: #fff;
  text-shadow: 2px 2px rgba(0,0,0,0.75);
  cursor: default;
  -webkit-user-select: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  text-shadow: 2px 2px rgba(0,0,0,0.75);
  cursor: default;
  -webkit-user-select: none;
}

li {
  list-style: none;
  cursor: default;
  -webkit-user-select: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
